<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/metadata') -%>
    <title>Editor - ArtMart</title>

    <style>
        canvas {
            border: none;
            outline: none;
            border: #039be5 3px solid;
            border-radius: 5px;
            justify-content: center;
            width: 50% !important;
            height: auto !important;
            image-rendering: pixelated;
        }
    </style>
</head>
<body>
    <%- include('templates/navbar') -%>
    <div class="container center-align">
        <h1>Art Editor</h1>
        
        <div id="canvas-container"></div>
        <br>
        <div id="color-grid">
            <h6 id="selected-text"></h6>
            <a id="brush-btn" class="btn-floating btn-large waves-effect waves-light black">
                <i class="material-icons" style="font-size: 2em;">brush</i>
            </a>
            <a id="fill-btn" class="btn-floating btn-large waves-effect waves-light black">
                <i class="material-icons" style="font-size: 2em;">format_color_fill</i>
            </a>
            <br>
            <br>
            <% for (let i = 0; i < colors.length; ++i) { %>
                <a class="btn-floating btn-large waves-effect waves-light color-btn"
                    x-hex="<%= colors[i] %>"
                    style="color: <%= colors[i] %>; background-color: <%= colors[i] %>">
                </a>
                <% if ((i % 6) == 5) { %>
                    <br>
                    <br>
                <% } %>
            <% } %>
            <br>
            <br>
            <a class="btn-large waves-effect waves-light cyan">
                Submit
            </a>
        </div>
    </div>
    <%- include('templates/footer') -%>

    <script src="/editor/p5.js"></script>
    <script src="/editor/artEditor.js"></script>
    <br>
</body>
</html>