<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/metadata') -%>
    <title>Gallery - ArtMart</title>

    <style>
        .gallery-img {
            width: 30%;
            image-rendering: pixelated;
            border: #039be5 3px solid;
            border-radius: 5px;
            margin: 5px;
        }
    </style>
</head>
<body>
    <%- include('templates/navbar') -%>
    <div class="container center-align">
        <h1>Gallery</h1>

        <% for (const art of arts) { %>
            <a href="/app/view/<%= art.art_id %>">
                <canvas width="16" height="16" class="gallery-img" data-art="<%= art.art_data %>">
            </a>
        <% } %>
    </div>
    <script data-colors="<%= JSON.stringify(colors) %>">
        const COLORS = JSON.parse(document.currentScript.dataset.colors)
    </script>
    <script src="/render.js"></script>
    <script>
        for (const art of document.querySelectorAll("canvas[data-art]")) {
            drawArt(art.dataset.art, art);
        }
    </script>
    <%- include('templates/footer') -%>
</body>
</html>