<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('templates/metadata') %>
        <title>Transaction History - ArtMart</title>
</head>

<body>
    <%- include('templates/navbar') %>
    <div class="container center-align">
        <h1>Transactions</h1>

        <table>
            <thead>
                <tr>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Artwork</th>
                    <th>Transaction Time</th>
                </tr>
            </thead>

            <tbody>
            <% for (const transaction of transactions) { %>
                <tr>
                    <td><%= transaction.from_user.user_email %></td>
                    <td><%= transaction.to_user.user_email %></td>
                    <td><a href="/app/view/<%=transaction.art_id%>"><%= transaction.art.art_name %></a></td>
                    <td style="color: gray; font-size: 0.8em">
                        <%= new Date(transaction.transaction_time).toLocaleDateString("en-US", { hour: "numeric", minute: "numeric", second: "numeric" }) %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <%- include('templates/footer') %>
</body>

</html>